body{
    margin: 0px;
    padding: 0px;

}
h1{
    color: rgb(28, 68, 28);
    text-align: center;
    font-size: 50px;
}
header {
    display: flex;
    grid-column: span 3;
    background-color: rgba(75, 71, 65, 0.589);
    justify-content: space-between;
}

header a{
    display:inline-block;
    font-size: 24px;
    color: black;
    text-decoration: none;
    padding: 10px 32px;
}

header a:hover{
    background-color: aliceblue;
}
header a:visited{
    color:darkslategray;
}
section {
    margin: 5px;
    text-align: center;
    grid-column: span 3;
 
}

section a{
    display:inline-block;
    font-size: 20px;
    color: white;
    background-color:rgba(24, 22, 20, 0.74);
    text-decoration: none;
    padding: 10px 32px;
    margin-bottom: 20px;
}
.recruiterschool{
    position:relative;
    border: 5px solid rgb(35, 41, 41);
    border-radius: 30%;
    margin-right: 8%;
    margin-top: 20%;
    
 }

 .pool{
    position:relative;
    border: 5px solid rgb(35, 41, 41);
    border-radius: 30%;
    margin-right: 5%;
    margin-top: 5%;

 }

 .collage{
    position:relative;
    border: 5px solid rgb(35, 41, 41);
    border-radius: 10%;
    margin-right: 5%;
    margin-top: 5%;

 }