body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, rgb(163, 202, 214), rgba(175, 217, 230,0));

}
header {
    display: flex;
    grid-column: span 3;
    background-color: lightcoral;
    justify-content: space-between;
}

header a{
    display:inline-block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 10px 32px;
}

header a:hover{
    background-color: aliceblue;
}
header a:visited{
    color:darkslategray;
}